*{
    margin: 0;
    padding: 0;
}

body{

    font-family: 'Ubuntu', sans-serif; 
}

#nav-bar {
    width: 300px;
    height: 100vh;
    background-color:black;
    position: fixed;
    transition-duration: 0.3s;
}

.dark{
    background-color: saddlebrown !important;
}
.nav-bar-hidden{
    transform: translateX(-100%);
}

#nav-bar #nav-button{
font-size: 25px;
position: absolute;
top: 10px;
right: -30px;
}

#nav-bar .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 50px;
    background-image: url(../img/whitemoon.png);
    background-size: cover;
    background-position: 0px -10px;
}

#nav-bar .titulo {
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
}

#nav-bar .subt{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: cornflowerblue;
}

#nav-bar nav{
 margin-top: 80px;
}

#nav-bar nav a{
    display: block;
    width: fit-content;
    text-decoration: none;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20pxs;
    font-weight: 400;
}

#nav-bar .reference{
    font-size: 13px;
    font-weight: 400;
    color: thistle;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

main{
    width: calc(100% - 300px);
    float: right;
    overflow-x: hidden;
    display: block;
}

.main-full{
    width: 100%;
}

main section{
    width: 100%;
    height: 100vh;
}

main #home{
    background-color: gray;
    background-image: url(../img/espacio\ astral.jpg);
    background-size: cover;
}

main #home .home-content1{
    position: relative;
    top: 200px;
    left: 150px;
}

main #home .content1 .inicio{
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    top: 30px;
}

main #home .content1 .parrafo1{
    color: whitesmoke;
    text-align: justify;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

main #home .content2 .logo{
    width: 150px;
    height: 200px;
    margin-left: 50px;
}

main #home .content2 .video{
    width: 250px;
    height: 200px;
    margin-top: 50px;
    border: 2px solid blue;
    margin-left: 200px;
    margin-right: 100px;
}

main #service{
    background-color: gray;
    background-size: cover;
}

main #service .table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    padding: 10px;
  }
  
  #pionero-1 {
    text-align: center;
}

main #contact{
    background-color:white;
    background-size: cover;
}

 .splide img{
   width: 350px;
   height: 250px;
   margin-top: 70px;
   margin-left: 10px;
   margin-bottom: 50px;
}

.inhabilitar{
    display: none;
}

.habilitar{
    display: inline;
}

main #contact .contact-title{
    font-weight: 600;
    font-size: 30px;
    position: relative;
    top: 60px;
    margin-left: 20px;
    color:black;
}

main #contact .form-container{
    margin-top: 80px;
    margin-left: 40px;
    color: black;
}

main #contact .form-container .form-group{
    margin-top: 30px;
}

main #contact .form-container .form-group label{
    display: block;
    font-size: 15px;
}

main #contact .form-container .form-group input{
    font-size: 12px;
    padding: 5px 10px;
}

main #contact .form-container .form-group .pristine-error{
    color: red;
}

@media (max-width:768px){
    main .inicio{
        color: goldenrod !important;
    }
}

@media (max-width:495px){
    main #contact{
        margin-top: 330px;
    }
}

